
<!-- Requires 'bootstrap'. From https://getbootstrap.com/docs/4.0/components/dropdowns/  -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="mr-auto">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>      
    </div>
    <div class="navbar-collapse collapse" id="navbarNavDropdown">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" href="#">Accounts</a>
              <ul class="dropdown-menu">
                <li><a *ngFor="let a of accounts" (click)="getTransactions(a)" class="dropdown-item" href="#">{{a.name}}</a></li>
              </ul>
            </li>
            <li class="nav-item" *ngIf="transactions">
                <a class="nav-link" data-toggle="modal" data-target="#newtxnModal" href="#">Add Transaction</a>
            </li>

        </ul>
    </div>
    <div class="ml-auto order-last">
        <a class="navbar-brand" href="#">CPAccount{{envName}}</a>
    </div>
</nav>

<div class="page">

<div class="transactions" *ngIf="transactions">
  <table class="table table-striped table-sm">
    <thead class="thead-inverse">
    <tr><th colspan="4">Transactions for {{activeaccount.name}}</th></tr>
    <tr><th>Date</th><th>Type</th><th>Memo</th><th>Amount</th></tr>
    </thead>
    <tbody class="">
    <tr *ngFor="let txn of transactions"><td>{{txn.date}}</td><td>{{txn.type}}</td><td>{{txn.comment}}</td><td>{{txn.amount}}</td></tr>
    </tbody>
  </table>
</div>

<div class="newentmodal"  *ngIf="transactions">
  <!-- Modal -->
  <div class="modal fade" id="newtxnModal" tabindex="-1" role="dialog" aria-labelledby="newtxnLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newtxnLabel">New Transaction for {{activeaccount.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form #newtxnform="ngForm" (ngSubmit)="addtransaction(newtxnform)">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="lbdate">Transaction date</span>
              </div>
              <input [(ngModel)]="txDate" name="txDate" id="txDate" type="text" class="form-control" placeholder="DD/MM/YYYY">
            </div>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="lbtype">Type</span>
              </div>
              <input ngModel name="txType" id="txType" type="text" class="form-control" placeholder="eg. BC, PPAL" aria-label="eg. BC, PPAL" aria-describedby="lbtype">
            </div>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="lbcomment">Comment</span>
              </div>
              <input ngModel name="txComment" id="txComment" type="text" class="form-control" placeholder="" aria-label=""  aria-describedby="lbcomment">
            </div>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="lbamount">Amount Debited</span>
              </div>
              <input ngModel name="txAmount" id="txAmount" type="text" class="form-control" placeholder="-ve number for Credit" aria-label="-ve number for Credit"  aria-describedby="lbamount">
            </div>          
          <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeBtn>Close</button>
          <button type="submit" class="btn btn-default btn-primary">Save</button>            
        </form>

        </div> <!-- modal-body -->
        <div class="modal-footer">

        </div>

      </div>
    </div>
  </div>
</div>
</div>
